---
---
 
//
// IMPORTS
//
@import "_variables";
@import "http://fonts.googleapis.com/css?family=Open+Sans";
@import "http://fonts.googleapis.com/css?family=Patrick+Hand+SC";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html, body, footer, .footer{
	margin:0;
	padding: 0;
	max-width: 100%;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
	margin:0;
	padding: 0;
	width: 100%;
//	height: 100%;
}

body {
	background: $white;
//  font: 18px/1.4 $helvetica;
//	font-family: $helvetica;
  color: $darkGray;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, legend, .bdate{
	font-family: 'Patrick Hand SC';
}

h3,h4,h5,h6{color: #666}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.brandimg {
	height: auto;
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

img{
	max-width: 100%;
	margin: 0 auto;
}

.navbar-inverse{
	background-color: #000;
	color: #fff;
	border: 0;
	border-radius: 0;
	font-family: 'Patrick Hand SC';
	font-size: 30px;
}

.navbar-inverse.home{
	margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a{
	color: $giallo;
}

.navbar-inverse .navbar-nav > li > a.active,
.dropdown-menu > li > a.active{
	color: $viola;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: #BB2DFF;
}

.nav > li > a:hover, .nav > li > a:focus
{
	background-color: inherit;
}

.container.page{
	padding-top: 60px;
}

img.avatar{
	position: relative;
	padding: 5px;
	float: left;
}
 
.FluidYellow{
	background-color: #FFD000;
}

a, a:visited, a:focus{
	color: $viola;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
	
	h1{padding-top: 5px}
}

.post-home{
	
}

.bdate{
	float:left;
	margin-right: 10px;
	font-size: 2em;
	margin-bottom: 10px;
}
.bdate .year{
	background-color: $white;
	color:$viola;
	font-size: 0.5em;
	border: solid 1px $viola;
	padding: 0;
	text-align: center;
}
.bdate .month{
	background-color: $viola;
	color:$white;
	text-align: center;
	padding: 0 5px;
}
.bdate .day{
	text-align: center;
	padding: 0 10px;
	color: $viola;
	border: solid 1px $viola;
}

/*.wrapper-footer {
  margin-top: 50px;
//  border-top: 1px solid #ddd;
//  border-bottom: 1px solid #ddd;
  background-color: $black;
	color: $white;
}*/

footer, .footer {
	background-color: $black;
	color: $white;
	padding: 20px 0;
	text-align: center;
	max-width: 100%;
}

ul.uldisc{
	list-style: circle;
}

ul.uldisc li{
	margin-left: 20px;
}

.ulPages li{
	padding: 20px;
	color: $white;
    margin-bottom: 20px;
}

.ulPages li:nth-child(odd){
	background-color: $viola;
	border: solid 2px $viola;
}

.ulPages li:nth-child(even){
	background-color: $black;
	border: solid 2px $black;
}

.ulPages li a{
	color: $white;
}

/*  Affix   */
 ul.nav-tabs{
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
    top: 60px; /* Set the top position of pinned element */
}

.adsense{
	text-align: center;
	max-width: 100%;
	overflow-x: hidden;
}

.scrollup{font-size: 2em}
.scrollup a,
.scrollup a span,
.scrollup span {color: $white;}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
