<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="http://trapias.github.io/assets/TrelloExport/default.css">
</head>
<body class="TrelloExport">
<h1>TrelloExport HTML Export</h1>

{% for card in data %}
<h2>{{ card.title }}</h2>
<p>{{ card.description }}</p>
{% endfor %}

</body>
</html>
